<div class="container my-second-container ">
  LANDSCAPE
  <br>
  <br>
  <br>
  <br>
  <div class="row my-row justify-content-center">
    
    <div class="col-md-2 my-col border border-top-0 ">
         <div [ngClass]="setClassesCharles()">
            <ng-template [ngIf]="number == 1">
              PRESENT
            </ng-template>
    
            <ng-template [ngIf]="number == 2">
              LATE
            </ng-template>
    
            <ng-template [ngIf]="number == 3">
              ABSENT
            </ng-template>
    
          </div> 
      <!--<div class="present-panel-present" *ngIf="present" [style.visibility]="hidden">
            PRESENT
          </div> -->
      <div class="btn-group" mdbDropdown>
        <button type="button" mdbBtn color="primary" class="waves-light" mdbWavesEffect >CHARLES</button>
        <button type="button" mdbDropdownToggle mdbBtn color="info"
          class="dropdown-toggle dropdown-toggle-split px-3 waves-light" mdbWavesEffect></button>
        <div class="dropdown-menu ">
          <div class="dropdown-item" (click)="isPresentCharles()">Present</div>
          <div class="dropdown-item" (click)="isLateCharles()">Late</div>
          <div class="dropdown-item" (click)="isAbsentCharles()">Absent</div>
          <!-- <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Separated link</a> -->
        </div>
      </div>
    </div>
    <div class="col-md-8 my-col"></div>
  </div>

  <!---NICDAO-->
  <div class="row my-row justify-content-center">
    <div class="col-md-2 my-col border border-left-0 border-bottom-0"></div>
    <div class="col-md-2 my-col border border-top-0 ">
       <div [ngClass]="setClassesNicdao()">
        <ng-template [ngIf]="numero == 1">
          PRESENT
        </ng-template>

        <ng-template [ngIf]="numero == 2">
          LATE
        </ng-template>

        <ng-template [ngIf]="numero == 3">
          ABSENT
        </ng-template>
      </div> 
    
      <div class="btn-group" mdbDropdown>
        <button type="button" mdbBtn color="primary" class="waves-light" mdbWavesEffect>NICDAO</button>
        <button type="button" mdbDropdownToggle mdbBtn color="info"
          class="dropdown-toggle dropdown-toggle-split px-3 waves-light" mdbWavesEffect></button>
        <div class="dropdown-menu">
          <div class="dropdown-item" (click)="isPresentNicdao()">Present</div>
          <div class="dropdown-item" (click)="isLateNicdao()">Late</div>
          <div class="dropdown-item" (click)="isAbsentNicdao()">Absent</div>
        </div>
      </div>
    </div>

    <div class="col-md-2 my-col border border-top-0 ">

      <div class="btn-group" mdbDropdown>
        <button type="button" mdbBtn color="primary" class="waves-light" mdbWavesEffect>JOEL</button>
        <button type="button" mdbDropdownToggle mdbBtn color="info"
          class="dropdown-toggle dropdown-toggle-split px-3 waves-light" mdbWavesEffect></button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Separated link</a>
        </div>
      </div>
    </div>
    <div class="col-md-2 my-col border border-top-0 ">
      <div class="btn-group" mdbDropdown>
        <button type="button" mdbBtn color="primary" class="waves-light" mdbWavesEffect>HAROLD</button>
        <button type="button" mdbDropdownToggle mdbBtn color="info"
          class="dropdown-toggle dropdown-toggle-split px-3 waves-light" mdbWavesEffect></button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Separated link</a>
        </div>
      </div>
    </div>
    <div class="col-md-2 my-col border border-top-0 ">
      <div class="btn-group" mdbDropdown>
        <button type="button" mdbBtn color="primary" class="waves-light" mdbWavesEffect>CHRISTIAN</button>
        <button type="button" mdbDropdownToggle mdbBtn color="info"
          class="dropdown-toggle dropdown-toggle-split px-3 waves-light" mdbWavesEffect></button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Separated link</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row my-row justify-content-center">
    <div class="col-md-2 my-col ">.</div>
    <div class="col-md-2 my-col border  border-right-0">.</div>
    <div class="col-md-2 my-col border border-left-0 border-right-0">.</div>
    <div class="col-md-2 my-col border  border-left-0 border-right-0">.</div>
    <div class="col-md-2 my-col border border-left-0 ">.</div>
  </div>

  <div class="row my-row justify-content-center">
    <div class="col-md-2 my-col border border-left-0 border-top-0"></div>
    <div class="col-md-2 my-col border border-bottom-0 ">
      <div class="btn-group" mdbDropdown>
        <button type="button" mdbBtn color="danger" class="waves-light" mdbWavesEffect>EMPTY</button>
        <button type="button" mdbDropdownToggle mdbBtn color="warning"
          class="dropdown-toggle dropdown-toggle-split px-3 waves-light" mdbWavesEffect></button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Separated link</a>
        </div>
      </div>
    </div>

    <div class="col-md-2 my-col border border-bottom-0 ">

      <div class="btn-group" mdbDropdown>
        <button type="button" mdbBtn color="primary" class="waves-light" mdbWavesEffect>GLENEL</button>
        <button type="button" mdbDropdownToggle mdbBtn color="info"
          class="dropdown-toggle dropdown-toggle-split px-3 waves-light" mdbWavesEffect></button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Separated link</a>
        </div>
      </div>
    </div>
    <div class="col-md-2 my-col border border-bottom-0 ">
      <div class="btn-group" mdbDropdown>
        <button type="button" mdbBtn color="primary" class="waves-light" mdbWavesEffect>JESUCHRIS</button>
        <button type="button" mdbDropdownToggle mdbBtn color="info"
          class="dropdown-toggle dropdown-toggle-split px-3 waves-light" mdbWavesEffect></button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Separated link</a>
        </div>
      </div>
    </div>
    <div class="col-md-2 my-col border border-bottom-0 ">
      <div class="btn-group" mdbDropdown>
        <button type="button" mdbBtn color="primary" class="waves-light" mdbWavesEffect>DIAZ</button>
        <button type="button" mdbDropdownToggle mdbBtn color="info"
          class="dropdown-toggle dropdown-toggle-split px-3 waves-light" mdbWavesEffect></button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Separated link</a>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="row my-row justify-content-center">
    <div class="col-md-2 my-col border border-top-0 ">
      <div class="btn-group" mdbDropdown>
        <button type="button" mdbBtn color="primary" class="waves-light" mdbWavesEffect>MARIA</button>
        <button type="button" mdbDropdownToggle mdbBtn color="info"
          class="dropdown-toggle dropdown-toggle-split px-3 waves-light" mdbWavesEffect></button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Separated link</a>
        </div>
      </div>
    </div>
    <div class="col-md-2 my-col border border-top-0 ">
      <div class="btn-group" mdbDropdown>
        <button type="button" mdbBtn color="primary" class="waves-light" mdbWavesEffect>PORTIA</button>
        <button type="button" mdbDropdownToggle mdbBtn color="info"
          class="dropdown-toggle dropdown-toggle-split px-3 waves-light" mdbWavesEffect></button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Separated link</a>
        </div>
      </div>
    </div>
    <div class="col-md-2 my-col border border-top-0 ">
      <div class="btn-group" mdbDropdown>
        <button type="button" mdbBtn color="primary" class="waves-light" mdbWavesEffect>THAIZA</button>
        <button type="button" mdbDropdownToggle mdbBtn color="info"
          class="dropdown-toggle dropdown-toggle-split px-3 waves-light" mdbWavesEffect></button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Separated link</a>
        </div>
      </div>
    </div>
    <div class="col-md-2 my-col border border-top-0 ">
      <div class="btn-group" mdbDropdown>
        <button type="button" mdbBtn color="primary" class="waves-light" mdbWavesEffect>MARK</button>
        <button type="button" mdbDropdownToggle mdbBtn color="info"
          class="dropdown-toggle dropdown-toggle-split px-3 waves-light" mdbWavesEffect></button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Separated link</a>
        </div>
      </div>
    </div>
    <div class="col-md-2 my-col border border-top-0 ">
      <div class="btn-group" mdbDropdown>
        <button type="button" mdbBtn color="primary" class="waves-light" mdbWavesEffect>LANCE</button>
        <button type="button" mdbDropdownToggle mdbBtn color="info"
          class="dropdown-toggle dropdown-toggle-split px-3 waves-light" mdbWavesEffect></button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Separated link</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row my-row justify-content-center">
    <div class="col-md-2 my-col border border-right-0">.</div>
    <div class="col-md-2 my-col border border-left-0 border-right-0">.</div>
    <div class="col-md-2 my-col border border-left-0 border-right-0">.</div>
    <div class="col-md-2 my-col border border-left-0 border-right-0">.</div>
    <div class="col-md-2 my-col border border-left-0 ">.</div>
  </div>

  <div class="row my-row justify-content-center">
    <div class="col-md-2 my-col border border-bottom-0 ">
      <div class="btn-group" mdbDropdown>
        <button type="button" mdbBtn color="primary" class="waves-light" mdbWavesEffect>JC</button>
        <button type="button" mdbDropdownToggle mdbBtn color="info"
          class="dropdown-toggle dropdown-toggle-split px-3 waves-light" mdbWavesEffect></button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Separated link</a>
        </div>
      </div>
    </div>
    <div class="col-md-2 my-col border border-bottom-0 "><button type="button" mdbBtn color="info"
        mdbWavesEffect>UNKNOWN</button></div>
    <div class="col-md-2 my-col border border-bottom-0 "><button type="button" mdbBtn color="info"
        mdbWavesEffect>UNKNOWN</button></div>
    <div class="col-md-2 my-col border border-bottom-0 "><button type="button" mdbBtn color="info"
        mdbWavesEffect>UNKNOWN</button></div>
    <div class="col-md-2 my-col border border-bottom-0 "><button type="button" mdbBtn color="info"
        mdbWavesEffect>UNKNOWN</button></div>
  </div>
</div>