.my-container{
    margin-top: 30px;
    text-align: center;
    font-weight: bold
}

.my-second-container{
    margin-top: 30px;
    text-align: center;
    font-weight: bold
}

.dropdown-item {
    cursor: pointer;
}


.present {
    background: green;
    color: white;
}

.late {
    background: yellow;
    color: black;
}

.absent {
    background: red;
    color: white;
}